/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
========================================================================== */

*{
  box-sizing: border-box;
}
body{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color:#FFD;
  text-align: center;
}
header, footer{
width: 100%;
font: normal, 1.5em, bold, cursive;
background-color:#DADDDE;
}
footer{
  padding: 20px;
  height: 75px;
}
h1,h2,h3{
  font-weight: bold;
}
h1{
  margin: 45px auto 85px auto;
  color:#ff8c00;
}
h3{
  color:#00bfff;
  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 20px;
  width: 350px;
  padding: 7px;
  border: 1px dotted #ff8c00;;

}
.logo{
  float: left;
  border: 1px dotted #ff8c00;
  padding:4px;
}
.logo,.identity{
  margin-left: 10px;
}
.logo,.identity,.jakarta{
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 8px;

}
.identity,.jakarta{
  padding: 7px;
  border: 2px solid #ff8c00;
}
.logo img{
  max-width:200px;
}
.logo img,.jakarta img{
  padding: 0 auto;
}
.jakarta{
  float: right;
  margin-right: 10px;
}
h3,.logo,.jakarta,.frontEndSkills,.javascriptSkills,.backEndSkills,.backEndSkillsJava,.scrum {
  background-color:#FFE;
}
.jakarta img{
  max-width:400px;
}
.development{
  font-weight: bold;
  font-style: italic;
}
table{
  margin: 10 auto;
  margin-bottom: 8px;
}
.contenu{
  margin: 0 auto;
}

tr{
  padding-top: 3px;
  max-height: 35px;

}
th{
  font-weight: normal!important;
  padding: 1px;
  /*margin: 15px;*/
}
table .devSkills{
  max-height: 86px!important;
  margin-top: 10px;
}

.HtmlCss,.JsStyle,.PhpBdd,.java,.agile,.mission{
  font-weight: bold!important;
}

.HtmlCss{
  color: #00bfff;
}
.rectangle1{
  background: linear-gradient(to right, aliceblue, deepskyblue);
}
.arrow-right{
  border-left-color: #00bfff;
}
.JsStyle{
  color: greenyellow;
}
.rectangle2{
  background-color: #greenyellow;
  background: linear-gradient(to right, aliceblue, greenyellow);
}
.arrow-right_2{
  border-left-color:  greenyellow;
}
.PhpBdd{
  color: #ff7f50 ;
}
.java{
  color: #008080;
}
.rectangle3{
  background-color: #ff7f50;
  background: linear-gradient(to right, aliceblue, coral);
}
.arrow-right_3{
  border-left-color: #ff7f50;
}
.agile{
  color: #daa520;
}
.rectangle4{
  background-color: #008080;
  background: linear-gradient(to right, aliceblue, #008080);
}

.rectangle5{
  margin-left: -103px;
  width: 450px;
  padding-left: 415px;
  background-color: #daa520;
  background: linear-gradient(to right, aliceblue, goldenrod);
}
.arrow-right_4 {
  border-left-color: #008080;
}
.arrow-right_5 {
  border-left-color: #daa520;
}
.frontEndSkills,.javascriptSkills,.backEndSkills,.backEndSkillsJava, .scrum{
  width: 550px;
  height: 30px;
background-color: transparent;

  padding-top: 3px;
}
.rectangle1,.rectangle2,.rectangle3,.rectangle4,,.rectangle5{
  text-align: center;
  height: 20px;
  padding-top: 25px;
}
.rectangle1,.rectangle3{
  margin-left: -130px;
  width: 425px;
  padding-left: 390px;
}

.arrow-right,.arrow-right_3{
  margin-left: -200px;
}
.arrow-right,.arrow-right_2 ,.arrow-right_3,.arrow-right_4,.arrow-right_5 {
  /*margin-top: 1px;*/
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
}
.rectangle2,.rectangle4{
  margin-left: -240px;
  padding-left: 280px;
  width: 315px;
}

.arrow-right_2,.arrow-right_4 {
  margin-left: -420px;
}


/*.rectangle4{
  margin-left: -349px;
  width: 205px;
  padding-left: 172px;
}*/



/*.arrow-right_4 {
  margin-left: -632px;
}*/
.arrow-right_5{
  margin-left: -148px;
}

.lapsTimefont-size: 1.1em;
}

.wrapper{
  margin: 0 auto;
  width: 95%;
  height: 80%;
  padding: 5px 2px 5px 45px;

}
ul {
  display: flex;
  justify-content: space-around;
}
ul li{
  list-style: none;

}
/*Index======================================================================
==============================================================================*/

section{
margin: 0 auto;
color:black;
width: 95%;
padding-top: 5%;
}


footer p{
  text-align: center;
}
.focus{
  color: #008080;
  margin: 15px auto;
  background-color: #ff8c00;
}

/* ##################################################################### */
/* Small devices (tablets, 544px ) */
@media (min-width:375px) {
  .wrap{
    min-height:calc(100vh -85.94px);
  }
  .logo{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 75%;
  }
  section{
    font-size: 90%;
  }
  .portfolioGit{
    font-size: 80%;
  }
 h1{
   margin:10px auto;
   width:75%;
   font-size: 85%;
 }
  h3{
    margin: 20px auto 10px auto;
    width:20%;
    font-size: 75%;
  }
  .connectPictures{
    width:70%;
  }

  .jakarta,.frontEndSkills,.javascriptSkills,.backEndSkills,.backEndSkillsJava, .scrum,.colortext{
    display:none;
  }
}
@media (min-width:530px){
  .jakarta,.frontEndSkills,.javascriptSkills,.backEndSkills,.backEndSkillsJava, .scrum,.colortext{
    display:inline-table;
  }
  section{
    font-size: 97%;
  }
  h1{
    margin:10px auto;
    width:75%;
    font-size: 95%;
  }

  h3{
    margin: 40px auto 20px auto;
    width:25%;
    font-size: 75%;
  }
  .connectPictures{
    width:75%;
  }
}



/* ############################   DESKTOPS   ########################### */
/* Medium devices (desktops, 992px and up) */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }



    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h1,
    h2,
    h3,{

        page-break-after: avoid;
    }
    h1,
    h2,
    h3{
        page-break-after: avoid;
    }

}
